* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(77, 67, 69);
}

.board {
  padding: -20px; /* may remove */
  width: 525px;
  height: 440px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  perspective: 1000px;
  /* border: 2px solid lime; */
}
.tiles {
  width: 25%;
  height: 33.333%;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  /* border: 2px solid aqua; */
}
.tiles :active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.tiles.flip {
  transform: rotateY(180deg);
}
.flipped-face,
.front-face {
  height: 142px;
  position: absolute;
  background: rgb(77, 67, 69);
  border-radius: 8px;
  backface-visibility: hidden;
  /* border: 2px solid blue; */
}

.flipped-face {
  transform: rotateY(180deg);
}

img {
  width: 130px;
  height: 130px;
}

.pop-box {
  position: relative;
  display: inline;
  cursor: pointer;
  border: 2px solid lightgrey;
}

.sec {
  margin-top: 20px; 
}
